
/* ********* */
/* CONSTANTS */
/* ********* */

:root {
  --darkgrey: rgb(55, 55, 54);
  --primary-light: hsl(27, 91%, 63%);
  --primary: #c75302;
  --primary-dark: #8b0000;
  --primary-dark-gradient: #800000;
  --background: #fafafa;
  --background-dark: #e8e8e8;

  --color-shadow: black;
  --color-text: rgb(55, 55, 54);

  --translate-out: -7.9rem;
  --menu-width: 7.7rem;
  --icon-size: 2.65rem;
  --tiny: 0.3rem;
  --small: 0.8rem;
  --medium: 1.2rem;
  --large: 2rem;
  --header-max-height: 87vh;
  --section-width-mobile: 80vw;
  --section-width-desktop: 38em;
  --review-title-width: 3.5rem;

  --border-radius: 4px;
  --accent-width: 5px;

  --menu-toggle-transition: transform 0.4s ease-out;
}

/* ******* */
/* GENERAL */
/* ******* */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 100%;
	font-family: 'Crimson Text', serif;
	line-height: 1.6;
}

h1, h2, h3, h4 {
	font-weight: normal;
}

h1, h3, h4 {
	color: #8b0000;
}

h2, h3 {
	text-align: center;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 2.4rem;
	line-height: 1;
}

h3 {
	font-size: 1.8rem;
	line-height: 1.3;
}

h4 {
	font-size: 1.2rem;
	line-height: 1.2;
}

p, a {
	color: rgb(55, 55, 54);
	font-size: 1rem;
}

a {
	text-decoration: none;
	font-style: normal;
}

ul {
	list-style-type: none;
}

::selection {
  background: rgb(55, 55, 54);
  color: #fafafa; 
}

@media (min-width: 426px) {
	html {
		font-size: 125%;
	}
}

@media (min-width: 2560px) {
	html {
		font-size: 200%;
	}
}

body {
	overflow-x: hidden;
	background-color: #fafafa;
}

img {
	width: 100%;
	display: block;
}

.shadow {
	box-shadow: 1px 1px 5px 0 black;
}

.italic {
	font-style: italic;
}

.primary-border {
	border-top: 5px solid hsl(27, 91%, 63%);
}

/* ****** */
/* HEADER */
/* ****** */

header {
	width: 100%;
	height: 50vh;
	background-color: #fafafa;
	background-size: cover;
	background-position: left bottom;
	background-repeat: no-repeat;
	overflow: hidden;
	position: relative;
	z-index: 98;
}

#header-home {
	/* Image source: https://unsplash.com/photos/ZsvLOckPDWI */
	background-image: url("media/home/header-mobile.jpg");
}

#header-places {
	/* Image source: https://unsplash.com/photos/rzao2V1oUXE */
	background-image: url("media/places/header-mobile.jpg");
	background-position-y: top;
}

#header-transport {
	/* Image source: https://unsplash.com/photos/s2SruyOVz6o */
	background-image: url("media/transport/header-mobile.jpg");
	background-position-x: center;
}

#header-travel-tips {
	/* Image source: https://unsplash.com/photos/wEy8TRGUuLY */
	background-image: url("media/travel-tips/header-mobile.jpg");
	background-position: center top;
}

header h1 {
	padding-right: 0.8rem;
	text-shadow: 1px 1px 15px #fafafa;
	text-align: right;
	font-family: 'Crimson Text', serif;
}

#menu-closed {
	position: fixed;
	top: 0;
	left: 0;
}

#menu-open {
	transform: translateX(-7.9rem);
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	display: flex;
	flex-direction: row-reverse;
}

#menu-content {
	height: 100%;
	width: 7.7rem;
	padding: 9rem 0;
	box-shadow: 1px 0 5px 0 black;
	position: relative;
	z-index: 98;
}

#menu-content ul {
	height: 100%;
}

#menu-content .menuitem {
	display: none;
}

#menu-content li {
	width: 100%;
	height: 25%;
	min-height: 2.5rem;
	border-left: 5px solid transparent;
}

#menu-content a {
	line-height: 1.3;
	display: flex;
	align-items: center;
	padding: 0.3rem 0.8rem 0.3rem 0.6rem;
	font-size: 1.3rem;
	height: 100%;
	color: #fafafa;
}

#menu-content .active-page-menu-item,
#menu-content li:hover {
	border-left-color: hsl(27, 91%, 63%);
}

#menu-close-icon {
	display: none;
}

#menu-open:target #menu-close-icon {
	display: block;
}

#menu-open:target .menuitem {
	display: flex;
}

#menu-open:target .dummy-menuitem {
	display: none;
}

#menu-open:target {
	transition: transform 0.4s ease-out;
	transform: translateX(0);
}

#menu-closed:target #menu-open  {
	transition: transform 0.4s ease-out;
}

#menu-open:target #menu-open-icon {
	display: none;
}

.earmark-bar {
	background-color: #8b0000;
	width: calc(7.7rem + 2.65rem);
	height: 2.65rem;
	border-bottom-right-radius: 4px;
	position: absolute;
	right: 0;
}

.menu-icon-container {
	background-color: #8b0000;
	border-bottom-right-radius: 4px;
	flex-shrink: 0;
	padding: 5px;
	width: 2.65rem;
	height: 2.65rem;
	z-index: 100;
}

.menu-icon {
	width: 100%;
	display: block;
	fill: #fafafa;
}

header .menu-icon-container:hover .menu-icon {
	fill: hsl(27, 91%, 63%);
}

#menu-open-icon {
	margin-left: calc((7.7rem + -7.9rem) * -1);
}

#earmark-bar-top {
	z-index: 99;
}

@media (min-width: 425px) {
	header {
		height: 75vh;
	}

	#header-home {
		/* Image source: https://unsplash.com/photos/ZsvLOckPDWI */
		background-image: url("media/home/header-desktop.jpg");
		background-position-y: top;
	}

	#header-places {
		/* Image source: https://unsplash.com/photos/rzao2V1oUXE */
		background-image: url("media/places/header-desktop.jpg");
		background-position-y: top;
	}

	#header-travel-tips {
		background-position-y: center;
	}

	#menu-content {
		padding: 7rem 0;
	}
}

@media (min-width: 768px) {
	header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 0;
	}

	#header-transport {
		/* Image source: https://unsplash.com/photos/s2SruyOVz6o */
		background-image: url("media/transport/header-desktop.jpg");
		background-position-y: top;
	}

	#header-travel-tips {
		/* Image source: https://unsplash.com/photos/wEy8TRGUuLY */
		background-image: url("media/travel-tips/header-desktop.jpg");
		background-position-y: top;
	}

	header h1 {
		padding-top: calc(5px + 0.42rem);
		padding-left: 1.2rem;
		line-height: 1;
	}

	#menu-closed {
		position: static;
	}

	#menu-open {
		position: static;
		height: initial;
		transform: translateX(0);
		display: block;
		min-width: 28.2rem;
	}

	#menu-closed:target #menu-open,
	#menu-open:target {
		transition: none;
	}

	#menu-content {
		height: initial;
		background-color: transparent;
		background: transparent;
		box-shadow: none;
		width: 100%;
		padding: 0;
	}

	#menu-content ul {
		display: flex;
		justify-content: flex-end;
	}

	#menu-content .dummy-menuitem,
	#menu-open .earmark-bar,
	header .menu-icon-container,
	#menu-open:target #menu-close-icon {
		display: none;
	}

	#menu-content li {
		width: 25%;
		height: initial;
		border-top: 5px solid transparent;
		border-left-style: none;
	}

	#menu-content .menuitem {
		display: flex;
		justify-content: center;
		color: #8b0000;
		text-shadow: 1px 1px 15px #fafafa;
		padding: 0.3rem;
		padding-top: 0.8rem;
	}

	#menu-content li:last-child .menuitem {
		padding-right: 0.8rem;
	}

	#menu-content li:not(.active-page-menu-item):hover {
		border-top-color: #8b0000;
	}

	#menu-content .active-page-menu-item {
		border-top-color: hsl(27, 91%, 63%);
	}	
}

@media (min-width: 1024px) {
	header {
		height: 87vh;
	}

	header h1 {
		padding-left: 2rem;
	}
}

/* ****** */
/* FOOTER */
/* ****** */

footer {
	width: 100%;
	background-color: rgb(55, 55, 54);
	/* Image source: https://unsplash.com/photos/ZsvLOckPDWI */
	background-image: url("media/river.jpg");
	background-repeat: no-repeat;
	background-position: left top;
	background-size: cover;
}

footer nav {
	padding: 1.2rem;
	background-color:hsla(60,1%,0%,0.8);
}

footer ul {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer li {
	padding: 0.3rem 0;
}

footer a {
	color: #fafafa;
	text-shadow: 1px 1px 50px #fafafa;
}

footer a:hover {
	color: hsl(27, 91%, 63%);
}

@media (min-width: 426px) {
	footer ul {
		flex-direction: row;
		justify-content: center;
	}

	footer a {
		padding: 0 1.2rem;
	}
}

/* **** */
/* MAIN */
/* **** */

.link {
	text-decoration: underline;
	text-decoration-color: hsl(27, 91%, 63%);
}

.link:hover {
	text-decoration-color: #8b0000;
}

.source {
	color: #c75302;
	text-shadow: 	
		0 0 4px white, 
		0 0 5px white, 
		0 0 6px white, 
		0 0 7px white,
		0 0 8px white,
		0 0 9px white,
		0 0 10px white;
	white-space: nowrap;
}

.source:hover {
	color: #8b0000;
}

.source::before {
	content: "●";
	display: inline-block;
	padding-left: 0.1rem;
	padding-right: 0.2rem;
}

.img-container .source::before {
	content: "©";
}

/* Single-row workaround for IE not supporting justify-content: space-evenly */
.space-evenly {
	display: flex;
	justify-content: space-between;
}

.space-evenly::before,
.space-evenly::after {
	content: "";
	display: block;
	width: 2px;
}

main,
article,
section,
#intro,
#transport,
.img-container,
.review-profile,
.place-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.img-container {
	background-color: #e8e8e8;
	line-height: 1.4;
}

.img-container p {
	padding: 0.3rem;
	text-align: center;
	font-style: italic;
}

main {
	padding-bottom: 2rem;
}

h2 {
	width: 100%;
	color: #fafafa;
	padding: 0.8rem 0.3rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* **** */
/* HOME */
/* **** */

#intro p,
#reviews article {
	width: 80vw;
	max-width: 38em;
}

#home > * > * {
	margin-top: 1.2rem;
}

#home h3 {
	margin-top: 2rem;
}

#reviews h3 {
	padding: 0 0.8rem;
	line-height: 1.2;
}

#reviews article {
	flex-direction: row-reverse;
	align-items: stretch;
}

#reviews article:not(:first-of-type) {
	margin-top: 2rem;
}

.review-profile {
	width: 3.5rem;
	padding: 0.3rem 0;
}

.review-profile img {
	width: inherit;
	flex-shrink: 0;
	border-radius: 50%;
	overflow: hidden;
}

.review-profile p {
	font-size: 1.2rem;
	color: #8b0000;
	margin-bottom: 0.4rem;
}

.review-profile::after {
	content: "";
	height: 100%;
	width: 5px;
	background-color: hsl(27, 91%, 63%);
	margin: 0 auto;
	display: block;
	border-radius: 4px;
}

.review-body {
	padding-left: 0.8rem;
}

.review-body h4 {
	padding-bottom: 0.3rem;
}

@media (min-width: 768px) {
	section, 
	#intro {
		width: 80vw;
		max-width: 38em;
	}

	.img-container {
		border-radius: 4px;
		overflow: hidden;
	}

	#home .img-container p {
		padding: 0.8rem;
	}

	.review-body {
		padding-left: 1.2rem;
	}
}

@media (min-width: 1024px) {
	h2 {
		height: calc(100vh - 87vh);
	}

	main:not(#travel-tips) h2 {
		margin-bottom: 0.8rem;
	}
}

/* ****** */
/* PLACES */
/* ****** */

#places > section {
	margin-top: 1.2rem;
}

#places h3 {
	margin-bottom: 0.3rem;
}

.place-content {
	padding: 0.8rem 0;
	width: 80vw;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.place-content > p {
	width: 100%;
}

.info {
	margin-top: 0.8rem;
	width: 100%;
}

.info h4 {
	margin-bottom: 0.3rem;
	text-align: center;
}

.info-content {
	width: 100%;
}

.info-content p {
	display: flex;
	width: 100%;
	align-items: center;
	line-height: 1.1;
}

.info-content p:not(:last-child) {
	margin-bottom: 0.45rem;
}

.info-content span {
	width: 50%;
}

.info-content span:first-child {
	margin-right: 0.22rem;
	text-align: right;
}

.info-content span:first-child,
.gentle-bold {
	text-shadow: 0 0 0 rgb(55, 55, 54);
}

.info-content span:last-child {
	margin-left: 0.22rem;
}

@media (min-width: 768px) {
	#places {
		flex-direction: row;
		flex-wrap: wrap;
		align-items: baseline;
		justify-content: center;
	}
	
	#places > section {
		flex-basis: 40%;
	}

	/* Multi-row & 2-column workaround for IE not supporting justify-content: space-evenly */
	#places > section:nth-of-type(odd) {
		margin-right: 3.3%;
	}

	#places > section:nth-of-type(even) {
		margin-left: 3.3%;
	}

	.place-content {
		width: 100%;
	}
}

@media (min-width: 1024px) {
	#places {
		justify-content: space-between;
	}

	#places > section {
		flex-basis: 20%;
		order: 2;
	}

	#places > section:nth-of-type(odd) {
		margin-right: 0;
	}

	#places > section:nth-of-type(even) {
		margin-left: 0;
	}

	/* Single-row workaround for IE not supporting justify-content: space-evenly */
	#places::before,
	#places::after {
		content: "";
		display: block;
		width: 2px;
	}

	#places::before {
		order: 3;
	}
}

/* ********* */
/* TRANSPORT */
/* ********* */

#transport,
#transport-menu,
#transport-menu ul {
	width: 100%;
}

#transport {
	margin-top: 1rem;
}

.primary-dark-gradient,
#transport-menu a {
	--gradient-direction: to bottom; /*default*/
	background-color: #8b0000;
	background: linear-gradient(var(--gradient-direction), #8b0000 30%, #800000);
}


#transport-menu a {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	border-radius: 50px;
}

#transport-menu span {
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 1.1rem;
	color: #fafafa;
	margin-top: -0.5rem;
	padding-bottom: 0.5rem;
}

#transport-menu li:hover a {
	transform: scale(1.035, 1.035);
}

#transport-menu .menu-icon-container {
	--icon-size: 3.8rem;
	padding: 0.6rem;
	z-index: initial;	
	background-color: transparent;
}

#transport-content {
	margin-top: 1.2rem;
	width: 80vw;
	max-width: 38em;
}

#transport section {
	display: block;
	margin-top: 1.2rem;
}

#transport h3 {
	text-align: left;
}

#rail h4 {
	margin-bottom: 0.3rem;
}

#rail h4:last-of-type {
	margin-top: 0.8rem;
}

#transport section:not(#rail) h3 {
	margin-bottom: 0.3rem;
}

@media (min-width: 768px) {
	#transport {
		flex-direction: row;
		align-items: flex-start;
		margin-top: 2rem;
	}

	#transport section,
	#transport-menu {
		width: initial;
	}

	#transport-menu ul {
		flex-direction: column;
		padding-left: 3rem;
	}

	#transport-menu li {
		display: flex;
	}

	#transport-menu a {
		flex-direction: row-reverse;
		margin-bottom: 0.8rem;
		width: 7rem;
		justify-content: flex-end;
		padding: 0 0.5rem;
	}

	#transport-menu span {
		margin-top: 4px;
		padding-bottom: 0;

	}

	#transport .menu-icon-container {
		--icon-size: 3rem;
		padding: 0.4rem;
	}

	#transport-content {
		padding-left: 2.5rem;
		padding-right: 4rem;
		margin-top: 0;
	}
}

@media (min-width: 1024px) {
	#transport-menu ul {
		padding-left: 5em;
	}

	#transport-content {
		padding-left: 5em;
		padding-right: 0;
	}
}

/* *********** */
/* TRAVEL TIPS */
/* *********** */

#travel-tips {
	--gradient-direction: to top;
}

#travel-tips section {
	background-color: #fafafa;
	background: linear-gradient(to bottom, peachpuff, #fafafa);
	border-radius: 30px 30px 4px 4px;
	width: 80vw;
	max-width: 30rem;
	margin-top: 3rem;
}

#travel-tips section:first-of-type {
	margin-top: 1.2rem;
}

#travel-tips section:nth-of-type(odd) {
	transform: rotate(2deg);
}

#travel-tips section:nth-of-type(even) {
	transform: rotate(-2deg);
}

#travel-tips h3 {
	border-bottom: 3px dashed #8b0000;
	width: 100%;
	padding: 0.6rem 3rem;
	position: relative;
}

#travel-tips h3::before {
	content: "";
	display: block;
	/* Image source: https://www.freepik.com/free-vector/illustration-set-map-pin-icons_2582752.htm */
	background-image: url("media/travel-tips/hole.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 1.4rem;
	height: 1.4rem;
	position: absolute;
	top: 1rem;
	left: 0.8rem;
	transform: rotate(40deg);
}

#travel-tips section:nth-of-type(even) h3::before {
	right: 0.8rem;
	left: initial;
}

#travel-tips p {
	padding: 1.5rem;
	padding-top: 1rem;
}

@media (min-width: 768px) {
	#travel-tips section {
		margin-top: 3rem;
	}

	#travel-tips section:first-of-type {
		margin-top: 2.5rem;
	}

	#travel-tips {
		padding-bottom: 3rem;
	}
}